<ion-view view-title="{{language.get('setting')}}">
  <ion-content>
    <ion-list>
     <div class="item item-divider">
        {{language.get("account")}}
      </div>
    <div class="item" >
      <h2>Nickname: {{user.username}}</h2>
    </div>
     <div class="item">
        SecureKey:{{user.secureKey}}
    </div>
    <div class="item item-divider">
        {{language.get("action")}}
    </div>


      <ion-item class="item" type="item-text-wrap">

       <button class="button button-block button-positive" ng-click="logout()">{{language.get("logout")}}</button>
         </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
